<%= nested_form_for post_obj , :remote => true, :html => {:class => "form-horizontal center",multipart:true} do |f| %>
      <div class="form-group">
        <%= f.label :post,"create post", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :post, class: "form-control" %>
        </div>
      </div>
      <%= f.fields_for :photos do |photo_form| %>

      <div class="form-group">
        <%= photo_form.label :photo_image,"photo", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%=photo_form.file_field :photo_image, class: "form-control" %>
        </div>
      </div>
      <% end %>
      <%= f.link_to_add "Add photo", :photos %><br>
      <%= f.submit "Submit", class: "btn btn-default btn-primary" %>  
<% end %>

